<nav>
    <a href="/">All Recipes</a>
    <div class="categories-dropdown">
        <a href="#">Categories</a>
        <div class="categories-dropdown-content">
            <a href="/recipeByCategory/678f863037c80f1d34da2db5">Breakfast</a>
        </div>
    </div>
    <% if (user) { %>
        <a href="/create-recipe">Create recipe</a>
    <% } else { %>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
    <% } %>
</nav>