<nav>
    <div class="nav-links">
        <a href="/">All Recipes</a>
    <% if (user) { %>
            <a href="/create-recipe">Create recipe</a>
            <a href="/saved-recipes">Saved recipes</a>
        </div>
    <% } else { %>
        </div>
        <div class="nav-links">
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
        </div>
    <% } %>
</nav>