<nav>
    <a href="/">All Recipes</a>
    <% if (user) { %>
        <a href="/create-recipe">Create recipe</a>
    <% } else { %>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
    <% } %>
</nav>