<%- include('../partials/html-head') %>
<%- include('../partials/nav', {user: user}) %>
    <h1>Signup</h1>
    <div class="centering-container">
        <div class="signup-container">
            <form class="login-signup-form" action="/signup" method="post">
                <div>
                    <label for="username">Username</label>
                    <input type="text" name="username">
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="text" name="email">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="text" name="password">
                </div>
                <div>
                    <label for="passwordConfirmation">Password confirmation</label>
                    <input type="text" name="passwordConfirmation">
                </div>
                <button type="submit">Signup</button>
            </form>
            <% if (query.passwordConfirmation) { %>
                <p>Passwords do not match</p>
            <% } %>
        </div>
    </div>
</body>
</html>